@use "utils" as *;
@use "variables" as *;

.article {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto auto;

  column-gap: var(--sp-6);
  // row-gap: var(--sp-2);

  grid-template-areas:
    "img subtitle"
    "img title"
    "img desc";

  margin-block-end: var(--sp-7);
}

.article img {
  grid-area: img;
  min-width: 120px;
}

.article span {
  grid-area: subtitle;

  font-size: var(--sp-8);
  font-weight: var(--fw-normal);
  color: var(--clr-primary);
  line-height: 1;
}

.article a {
  grid-area: title;

  line-height: 1;
  font-size: var(--fs-6);
  font-weight: var(--fw-normal);

  &:hover,
  &:active {
    color: var(--clr-primary);
  }
}

.article p {
  grid-area: desc;
  line-height: 1.6;
}
