@use "utils" as *;
@use "variables" as *;

.article {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto auto;

  column-gap: var(--sp-6);
  align-items: center;

  grid-template-areas:
    "img subtitle"
    "img title"
    "img desc";
}

.article img {
  grid-area: img;
  min-width: 100px;
}

.article span {
  grid-area: subtitle;

  font-size: var(--sp-7);
  font-weight: var(--fw-normal);
  color: var(--clr-primary);
  line-height: 1;
}

.article a {
  grid-area: title;

  line-height: 1;
  font-size: var(--fs-5);
  font-weight: var(--fw-normal);

  &:hover,
  &:active {
    color: var(--clr-primary);
  }
}

.article p {
  grid-area: desc;
  font-size: var(--fs-3);
  line-height: 1.6;
}
