@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-thin);
  line-height: 1.5;

  color: var(--clr-grey-3);
  background-color: var(--clr-white);

  padding-inline: var(--sp-5);
  padding-block: var(--sp-7);
  min-height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--clr-grey-4);
  display: inline-block;
}

.section {
  // margin-block-end: var(--sp-8);
}

.text-huge {
  color: var(--clr-grey-4);
  font-size: var(--fs-10);
  line-height: 1.1;
  font-weight: var(--fw-bold);
}

.main {
  // max-width: var(--mobile-container-width);
  margin-inline: auto;
}

.grid {
  display: grid;
  row-gap: var(--sp-7);

  @media (min-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--sp-5);
    grid-template-areas:
      "header header"
      "img img"
      "content content"
      "news news"
      "card1 card2"
      "card3 card3";

    .header {
      grid-area: header;
    }

    picture {
      grid-area: img;
    }

    .main__content {
      grid-area: content;
    }

    aside {
      grid-area: news;
    }

    .article:nth-of-type(1) {
      grid-area: card1;
    }
    .article:nth-of-type(2) {
      grid-area: card2;
    }
    .article:last-of-type {
      grid-area: card3;
    }
  }
}
