@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-thin);
  line-height: 1.5;

  color: var(--clr-grey-3);
  background-color: var(--clr-white);
}
