@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-thin);
  line-height: 1.5;

  color: var(--clr-grey-3);
  background-color: var(--clr-white);

  padding-inline: var(--sp-5);
  padding-block: var(--sp-7);
  min-height: 100vh;
}

.main {
  max-width: var(--mobile-container-width);
  margin-inline: auto;
}

.main > picture > img {
  margin-block-end: var(--sp-6);
}

.text-huge {
  color: var(--clr-grey-4);
  font-size: var(--fs-10);
  line-height: 1.1;
  font-weight: var(--fw-bold);
}

.main__title {
  margin-block-end: var(--sp-4);
}

.section {
  margin-block-end: var(--sp-8);
}

.main__content p {
  font-size: var(--fs-3);
  margin-block-end: var(--sp-5);
  line-height: 1.6;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--clr-grey-4);
  display: inline-block;
}

.main__content a {
  &:link,
  &:visited {
    font-size: var(--fs-3);
    font-weight: var(--fw-normal);
    text-transform: uppercase;
    letter-spacing: 3px;

    background-color: var(--clr-primary);
    padding: 10px 30px;
  }

  &:hover,
  &:active {
  }
}
