@use "utils" as *;
@use "variables" as *;

.main__content {
  display: grid;
  grid-template-columns: subgrid;
  column-gap: subgrid;

  row-gap: var(--sp-5);
}

.main__content p {
  font-size: var(--fs-3);
  margin-block-end: var(--sp-5);
  line-height: 1.6;
}

.main__content a {
  transition: all 0.3s;

  &:link,
  &:visited {
    font-size: var(--fs-3);
    font-weight: var(--fw-normal);
    text-transform: uppercase;
    letter-spacing: 3px;

    background-color: var(--clr-primary);
    padding: 10px 30px;
  }

  &:hover,
  &:active {
    background-color: var(--clr-grey-4);
    color: var(--clr-white);
  }
}
