@use "utils" as *;
@use "variables" as *;

.main__content {
  display: grid;
  grid-template-columns: subgrid;
  column-gap: var(--sp-5);
  row-gap: var(--sp-5);

  @media (min-width: $bp-desktop) {
    column-gap: var(--sp-7);
  }
}

.main__content p {
  font-size: var(--fs-3);
  margin-block-end: var(--sp-5);
  line-height: 1.6;
}

.main__content a {
  transition: all 0.3s;

  &:link,
  &:visited {
    font-size: var(--fs-3);
    font-weight: var(--fw-normal);
    text-transform: uppercase;
    letter-spacing: var(--ls-1);

    background-color: var(--clr-primary);
    padding: var(--sp-3) var(--sp-7);
  }

  &:hover,
  &:active {
    background-color: var(--clr-grey-4);
    color: var(--clr-white);
  }
}
