@use "utils" as *;
@use "variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
  list-style: none;
  color: var(--clr-grey-3);

  @media (min-width: $bp-tablet) {
    display: flex;
    align-items: center;
    gap: var(--sp-7);
  }

  a {
    font: inherit;
    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: var(--clr-primary);
    }
  }
}

.navigation-mobile {
  list-style: none;
  font-size: var(--fs-7);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  transform: translateX(100%);
  transition: transform 0.25s ease-in;

  background-color: var(--clr-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--sp-6);

  padding-inline-start: var(--sp-7);

  @media (min-width: $bp-tablet) {
    display: none;
  }

  a {
    font: inherit;
    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: var(--clr-primary);
    }
  }
}

.open .navigation-mobile {
  transform: translateX(40%);
}

body:has(.open) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
}

.navigation li {
}

.img-burger {
  display: block;
}

.img-close {
  display: none;
}

.open {
  .img-close {
    display: block;
  }

  .img-burger {
    display: none;
  }
}

.header button {
  z-index: 99;
  cursor: pointer;
  border: none;
  background: none;

  @media (min-width: $bp-tablet) {
    display: none;
  }
}
