@use "utils" as *;
@use "variables" as *;

.header {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  display: none;
}

.img-burger {
}

.img-close {
  display: none;
}

.header button {
  cursor: pointer;
  border: none;
  background: none;
}
