@use "utils" as *;
@use "variables" as *;

.header {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.navigation-mobile {
  list-style: none;
  font-size: var(--fs-7);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  transform: translateX(100%);
  transition: transform 0.25s ease-in;

  background-color: var(--clr-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--sp-6);

  padding-inline-start: var(--sp-7);
}

.open .navigation-mobile {
  transform: translateX(40%);
}

body:has(.open) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.navigation li {
}

.img-burger {
  display: block;
}

.img-close {
  display: none;
}

.open .img-close {
  display: block;
}

.open .img-burger {
  display: none;
}

.header button {
  z-index: 99;
  cursor: pointer;
  border: none;
  background: none;
}
