@use "utils" as *;
@use "variables" as *;

.header {
  display: flex;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  font-size: var(--fs-7);

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  transform: translateX(100%);
  transition: transform 0.25s ease-in;

  background-color: var(--clr-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--sp-6);

  padding-inline-start: var(--sp-7);
}

.navigation.open {
  transform: translateX(0);
}

.navigation li {
}

.img-burger {
  display: none;
}

.img-close {
  // display: none;
}

.header button {
  z-index: 99;
  cursor: pointer;
  border: none;
  background: none;
}
